.search-wrapper {
    display: flex;
    margin: 20px;
    margin-left: 160px;
    border-color: #ccc;
    text-align: center;
}

#search {
    width: 75%;
    font-size: 13px;
    padding: 15px;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px;
    justify-content: space-around;
}

img {
    display: block;
    margin: auto;
}